<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="content-language" content="en-us" />
    <base href="{global.baseUrl}" />

    <title>{head.title} | {global.appName}</title>
    <meta name="description" content="{head.description}">

    <link rel="image/x-icon" href="favicon.ico">
    <script type="text/javascript" charset="utf-8" src="public/app.js"></script>
    <link rel="stylesheet" href="public/app.css">
  </head>
  <body class="{body.className}">
    <div class="wrapper">
      <header class="header">
        <a class="logo" href="/">
          <img src="public/logo.png" alt="">
        </a>

        <nav class="menu">
          <a href="/">home</a>
          <a data-css-ui-vis-state="when-logged-out" href="/accounts/create">signup</a>
          <a data-css-ui-vis-state="when-logged-out" href="/sessions/create">login</a>
          <a data-css-ui-vis-state="when-logged-in"  href="/checks">dashboard</a>
          <a data-css-ui-vis-state="when-logged-in" href="/accounts">account</a>
          <a data-css-ui-vis-state="when-logged-in" href="/sessions/delete">logout</a>
        </nav>
      </header>

      <div class="content">
